# Dependencies
/node_modules
/package-lock.json
/yarn.lock

# Environment variables
.env
.env.*
.env-*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
/uploads
/public/uploads

# Testing
/coverage
.nyc_output

# Build
/build
/dist

# IDE and editor files
/.idea
/.vscode
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temporary files
.tmp
/temp